@use 'base/mixins' as m;
@use 'base/variables' as v;

.hobbies{
  width: 40rem;
  img{
    border-radius: 1.5rem;
    width: 40rem;
    height: 20rem;
  }

  .textos{
    margin-top: 2rem;

    h3{
      text-transform: uppercase;
      font-size: 1.6rem;
      color: #333;
    }

    p{
      font-size: 1.4rem;
      color: v.$colorParrafos;
      margin-top: 1rem;
    }
  }
}