@use 'base/variables' as v;

@mixin telefono {
  @media (min-width: v.$telefono) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin range($width) {
    margin: 1rem 0 1rem 1rem;
    width: 20rem;
    height: .9rem;
    background-color: v.$gris;
    position: relative;
    border-radius: 1rem;
  
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      background-color: v.$colorPrimario;
      width: $width;
      height: .9rem;
      border-radius: 1rem;
    }
}