//media querie
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1024px;

// Fuente
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


//Colores
$colorPrimario: #2F80ED;
$colorTitulo: #4F4F4F;
$colorParrafos: #828282;
$blanco: #FFF;
$negro: #000;
$gris: #d4d4d4;
$grisClaro: #E0E0E0;

// Unidades
$separacion: 5rem;